<div class="container-fluid">
  <div class="row">
            <h1 class="text-center text-white mt-1 mb-2">Login</h1>
            <form>
              <div class="form-group text-center">
                <label for="username" class="text-white mb-1 mt-1">Usuário</label>
                <input type="text" class="form-control mx-auto mt-1 text-center w-50" id="username" placeholder="Digite seu usuário">
              </div>
              <div class="form-group text-center">
                <label for="password" class="text-white mb-1 mt-1">Senha</label>
                <input type="password" class="form-control mt-1 text-center mx-auto w-50" id="password" placeholder="Digite sua senha">
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Entrar</button>
              </div>
            </form>
            <div class="w-100 text-center mt-4">
              <h2 class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ullam quo ipsam. 
                Praesentium, pariatur id, saepe molestiae perferendis, iusto voluptas soluta ab beatae ea sapiente nesciunt maiores nisi quidem? E
                os voluptatum quo sunt autem atque, ducimus fugit reiciendis commodi repellendus nihil ea exercitationem unde ullam a repellat 
                nostrum corrupti itaque? Quasi, provident? Dicta voluptas expedita aliquid exercitationem deleniti, saepe distinctio quas quod at, a
                ut eaque ad suscipit? Quam neque ducimus, doloremque tempore tenetur sint ex nihil similique vitae sed quae vel consectetur. 
                Earum assumenda quos harum corrupti iste amet eos, qui expedita praesentium mollitia, odio sequi similique doloribus? Officia, voluptatum!</h2>
              <img src="assets/seenk.png" alt="Logotipo" class="img-fluid rounded-circle" style="width: 55%; height: 45%;">
            </div>
          </div>
        </div>
