<div class="container d-flex flex-row">
  <div>
    <h3 class="text-white" style="margin-top: 40%; border-bottom: 1px solid black; padding: 1rem">Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Eos eum ipsum qui itaque velit odit quis et aliquid praesentium, reprehenderit
      quibusdam animi, vitae modi minima repellendus enim, consequatur mollitia quas!</h3>
      <div class="text-center">  <button class="btn" style="border: 1px solid black">Let me know!</button></div>
 

  </div>
 
  <img src="assets/working.jpg" alt="Imagem" height="30%" width="50%" class="img-fluid mt-5">
</div>