<div class="container-fluid justify-content-around d-flex flex-row">
    <div class="card text-center" style="width: 18rem;">
      <img src="assets/recruiter.jpg" class="card-img-top" alt="Imagem do card">
      <div class="card-body">
        <h5 class="card-title">Título do Card</h5>
        <p class="card-text">Texto do card. Aqui você pode adicionar uma breve descrição ou informações relevantes.</p>
        <a href="#" class="btn mx-auto btn-primary">Botão</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <img src="assets/talk.jpg" class="card-img-top" alt="Imagem do card">
        <div class="card-body">
          <h5 class="card-title">Título do Card</h5>
          <p class="card-text">Texto do card. Aqui você pode adicionar uma breve descrição ou informações relevantes.</p>
          <a href="#" class="btn btn-primary">Botão</a>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem;">
        <img src="assets/back.jpg" class="card-img-top" alt="Imagem do card">
        <div class="card-body">
          <h5 class="card-title">Título do Card</h5>
          <p class="card-text">Texto do card. Aqui você pode adicionar uma breve descrição ou informações relevantes.</p>
          <a href="#" class="btn btn-primary">Botão</a>
        </div>
      </div>
  </div>